<%- include ('partials/header.ejs') %>

<div class="container">
    <h1 class="title">Edit Game</h1>
    <form action="/edit-game/<%= game.id %>" method="POST" class="form">
        <div class="form-group">
            <label for="name">Game Name:</label>
            <input type="text" id="name" name="name" value="<%= game.name %>" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control"><%= game.description %></textarea>
        </div>
        <button type="submit" class="btn">Update Game</button>
    </form>
</div>

<%- include ('partials/footer.ejs') %>
